body {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
.link {
    padding-top: 7px;
}
.logo {
    width: 150px;
    margin: 10px;
}
.button {
    min-width: 140px;
}
.button-spaced {
    margin: 10px 5px;
}
.note {
    font-size: smaller;
    color: #999999;
    margin: 20px 0px;
}
.actions {
    text-align: right;
}
.alert {
    font-size: small;
}
.hidden {
    display: none;
}
.permissionsArea {
    margin: 10px;
}
.permissionCategory {
    font-weight: bold;
    margin-top: 10px;
}
.permissionCategoryDetails {
    font-size: small;
    font-style: italic;
    color: #888888;
    margin-left: 20px;
    margin-bottom: 10px;
}
.permissionsActionButtons {
    text-align: center;
    padding: 10px 0px;
}